@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.nav-link {
	@apply relative font-medium leading-6 text-gray-500 transition duration-150 ease-out hover:text-black dark:hover:text-white;
}

.dark-toggle-btn {
	@apply mx-3 inline-flex items-center justify-center px-3 py-3 text-base font-medium leading-6 text-gray-600 bg-white border border-gray-200 rounded-full shadow-md hover:bg-gray-100 focus:outline-none focus:shadow-none dark:bg-slate-600 dark:text-gray-100 dark:border-0 dark:hover:bg-slate-500;
}

.card-shadow {
	box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.35);
}

.border-radi-20 {
	border-radius: 20px;
}

.grad-text-red {
	background: -webkit-linear-gradient(60deg, #e21143, #ffb03a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.grad-text-blue {
	background: -webkit-linear-gradient(60deg, #9cecfb, #0052d4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.grad-text-green {
	background: -webkit-linear-gradient(60deg, #56ab2f, #a8e063);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.card {
	@apply bg-white rounded-xl overflow-hidden shadow-lg relative;
}

.badge {
	@apply rounded-full shadow-lg text-xs mt-3 font-semibold uppercase p-2;
}

.grad-insta {
	background: -webkit-linear-gradient(
		60deg,
		#feda75,
		#fa7e1e,
		#d62976,
		#962fbf,
		#4f5bd5
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.grad-google {
	background: -webkit-linear-gradient(
		60deg,
		#4285f4,
		#34a853,
		#fbbc05,
		#ea4335
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.grad-git {
	background: -webkit-linear-gradient(-120deg, #0f2027, #2c5364);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.poppins-text {
	font-family: 'Poppins', sans-serif;
}

.nunito-text {
	font-family: 'Nunito', sans-serif;
}

.quick-text {
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
}

.card {
	transition: transform 400ms ease-in-out;
}

.card:hover {
	transform: scale(1.08);
}

.smooth-effect {
	@apply transition duration-300 ease-in-out;
}

.contact-card:hover {
	transform: scale(1.2);
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #545454;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #363636;
}

.wave-hello {
	-webkit-animation-name: wave-animation;
	animation-name: wave-animation;
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-transform-origin: 70% 70%;
	transform-origin: 70% 70%;
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	10% {
		-webkit-transform: rotate(14deg);
		transform: rotate(14deg);
	}
	20% {
		-webkit-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}
	30% {
		-webkit-transform: rotate(14deg);
		transform: rotate(14deg);
	}
	40% {
		-webkit-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}
	50% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	60% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
